<!DOCTYPE html>
<html>
  <head>
    <title>Politizar</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if admin_signed_in? %>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <%= link_to root_path, class: 'navbar-brand' do %>
          Politizar
        <% end %>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to regions_path, class: 'nav-link' do %>
                Estados
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to representatives_path, class: 'nav-link' do %>
                Representantes
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to parties_path, class: 'nav-link' do %>
                Partidos
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to 'Logout', destroy_admin_session_path, method: :delete, class: 'nav-link' %>
            </li>
          </ul>
        </div>
      </nav>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
